.content-slider {
    position: relative;
    //width: 1000px;
    //height: 445px;
    & .title-slider {
        position: absolute;
        top: 15%;
        left: 60%;
        font-family: Montserrat, sans-serif;
        font-weight: 800;
        font-size: 44px;
        color: #2E3438;
        opacity: 0.5;
        transition: all 1s ease-out;

        &:hover {
            color: #2E3438;
            opacity: 0.8;
            transition: all 1s ease-out;
        }
    }

    & .discription-slider {
        position: absolute;
        top: 45%;
        left: 60%;
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 49px;
        letter-spacing: 0.005em;
        color: #E03737;
        transition: all 0.5s ease-out;
        animation-name: slidein;
        animation-duration: 1s;
        animation-iteration-count: infinite;

        &:hover {
            color: red;
        }
    }
}

;
.discription-slider-p {
    position: absolute;
    top: 57%;
    left: 60%;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
}

.slider-button {
    position: absolute;
    top: 75%;
    left: 60%;
    width: 172px;
    height: 44px;
    background: #007042;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: Open, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

@keyframes slidein {
    from {
        font-size: 30px;
        color: rgba(135, 88, 88, 0.24);
    }
    to {
        font-size: 35px;
        color: #ff0000;

    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 840px) {
    .content-slider {
        position: relative;
        //width: 1000px;
        //height: 445px;
        & .title-slider {
            position: absolute;
            top: 15%;
            left: 48%;
            font-family: Montserrat, sans-serif;
            font-weight: 800;
            font-size: 25px;
            color: #2E3438;
            opacity: 0.5;
            transition: all 1s ease-out;

            &:hover {
                color: #2E3438;
                opacity: 0.8;
                transition: all 1s ease-out;
            }
        }

        & .discription-slider {
            position: absolute;
            top: 26%;
            left: 54%;
            font-family: Montserrat, sans-serif;
            font-weight: bold;
            font-size: 30px;
            line-height: 49px;
            letter-spacing: 0.005em;
            color: #E03737;
            transition: all 0.5s ease-out;
            animation-name: slidein;
            animation-duration: 1s;
            animation-iteration-count: infinite;

            &:hover {
                color: red;
            }
        }
    }
;

}
