.containerModalAuth{
  width: 400px;
  display: flex;
  justify-content: center;
}
.containerModalAuth-container{
  width: 350px;
}
.containerModalAuth-nav{
  display: flex;
  justify-content: space-between;
  .containerModalAuth-nav__title{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #A0A9AF;
    &:hover{
      color: #007042;
    }
  }

}
.activeColor{
  color: #007042;
}

