@import '../../../../styles/scss/index';

.order{
    &-register{
        @media only screen and (max-width : 984px){
            grid-row: 2;
        }
        &-header{
            margin: 0 0 20px;
        }
        &-form {
            display: grid;

            &-header {
                margin: 0 0 0 0;
            }
        }
    }
}


.form-fields{
    @include flex-column;

    label{
        margin: 23px 0 7px 0;
        font-size: 14px;
    }

    input{
        box-sizing: border-box;
        max-width: 485px;
        height: 44px;
    }
}

.form-radio{
    max-width: 485px;
    display: flex;
    flex-wrap: wrap;

    &-heading{
        width: 100%;
        font-size: 20px;
        font-weight: 700;
    }

    &-group{
        width: 50%;
        @include flex-column;

        label{
            display: flex;
            align-items: center;
            margin-bottom: 14px;
            input{
                margin: 8px 8px 8px 0;
                width: 17px;
                height: 17px;
            }
            input[type='radio']:after {
                width: 17px;
                height: 17px;
                border-radius: 17px;

                top: -2px;
                left: -1px;
                position: relative;
                background-color: #d1d3d1;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }
            input[type='radio']:checked:after {
                width: 17px;
                height: 17px;
                border-radius: 17px;
                top: -2px;
                left: -1px;
                position: relative;
                background-color: $color-green-1;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid white;
            }
        }
    }
}

.form-btn{
    max-width: 320px;
    height: 56px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: $color-green-1;
    color: $color-white;
}
