@import "../../styles/scss/basic-style";
.containerFilter{
  width: 250px;
  margin: 0 0 20px 0;
}

.form-group__label{
  padding: 20px;

}
.filterColorContainer{
  box-shadow: 4px 8px 8px #819c7e;;

}
.filterColorRadioContainer{
  margin: 30px 0 0 0;
}
.filterColorBtn{
  margin-top: 20px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 840px) {
  .containerFilter{
    width: 150px;
  }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .containerFilter{
    display: none;
    position: absolute;
    z-index: 1000;
    width: 150px;
  }
  .filterColorContainer{
    background-color: #FFFFFF;
  }
}


