@import '../../../styles/scss/index';

.cart{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 45px repeat(auto-fill, 115px);
    padding: 0 0 20px 0;
    @media only screen and (max-width: 767px){
     overflow-y: hidden;
    }

    &-header{
        @include grid-center;
        grid-template-columns:  1.5fr  1fr 1fr;
        background-color: $color-gray-5;

        @media only screen and (max-width: 480px){
            //grid-template-columns: 150px  repeat(3, 100px) 100px;
        }
        &-label{
            color: $color-green-1;
        }
    }

    &-list{
        display: grid;
        grid-template-columns:  1.5fr  1fr 1fr;
        grid-template-rows: 115px;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 2px solid $color-gray-3;

        @media only screen and (max-width: 480px){
            //grid-template-columns: 150px  repeat(3, 100px) 100px;
        }

        &-view{
            @include grid-center;
            grid-template-columns: 0.5fr 1fr 2.5fr;
            grid-gap: 10px;

            &-name{
                display: grid;
                max-width: 200px;

                &-label{
                    font-size: 14px;
                    font-weight: 700;

                    @media only screen and (max-width: 768px){
                        font-size: 12px;
                    }
                    @media only screen and (max-width: 480px){
                        font-size: 10px;
                    }
                }

                &-itemNo{
                    font-size: 12px;
                    font-weight: 400;
                    color: $color-gray-1;

                    @media only screen and (max-width: 768px){
                        font-size: 10px;
                    }
                    @media only screen and (max-width: 480px){
                        font-size: 8px;
                    }
                }
            }

            &-frame{
                @include flex-center;
                width: 45px;
                height: 45px;

                img{
                    max-width: 45px;
                    max-height: 45px;
                }
            }
        }

        &-color{
            box-sizing: border-box;
            padding: 5px;
            align-self: center;
        }

        &-upholstery{
            box-sizing: border-box;
            padding: 5px;
            align-self: center;
        }

        &-quantity{
            align-self: center;
            justify-self: center;
        }

        &-price{
            align-self: center;
            justify-self: center;
        }
    }

    &-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 40px;
        @media only screen and (max-width: 480px){
            flex-direction: column;
            align-items: flex-start;
        }

        &-counter{
            font-size: 20px;
            @media only screen and (max-width: 768px){
                font-size: 18px;
            }
            @media only screen and (max-width: 480px){
                font-size: 16px;
            }
        }

        &-total{
            font-size: 32px;
            @media only screen and (max-width: 768px){
                font-size: 28px;
            }
            @media only screen and (max-width: 480px){
                font-size: 26px;
            }
        }

        &-btn{
            max-width: 282px;
            height: 52px;

            border-radius: 4px;
            background-color: $color-green-1;
            color: $color-white;

            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
