@import "../../styles/scss/basic-style";

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 840px) {
  .wrapper{
    display: flex;
    justify-content: center;
 }



}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .wrapper{
    display: flex;
    justify-content: center;
  }


}
