.change-count{
    margin-top: 42px;
    margin-left: -10px;
    background: #E0E1E2;
    width: 97px;
    height: 31px;
    &-input{
        width: 50px;
        height: 31px;
        background: #FFFFFF;
        border: 1px solid #E0E1E2;
        box-sizing: border-box;
        border-radius: 3px;
        padding-right: 30px;
        text-align: right;
    }
    &-text{
        position: absolute;
        font-size: 10px;
        line-height: 1px;
        font-weight: 600;
        color: #A0A9AF;
        margin-left: 25px;
        margin-top: 15px;
    }
    &-minus{
        margin-left: 7.8px;
        margin-right: 7.8px;
    }
}
