@import '../../../../styles/scss/index';

.order {
    &-cart {
        &-header {
            height: 46px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0 0 0 42px;

            background-color: $color-gray-2;
            color: $color-white;
        }

        &-item{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 80px;

            padding: 20px 0 30px 0 ;

            background-color: $color-gray-2;

            &-view{
                height: 80px;
                justify-self: center;
                padding: 0 10px;

                img{
                    height: 100%;
                }
            }

            &-description{
                @include flex-column;
                justify-content: space-between;

                &-name{
                    font-size: 14px;
                    font-weight: 700;
                }
                &-itemNo{
                    font-size: 12px;
                    color: $color-gray-1;
                }

                &-color{
                    font-size: 14px;
                }
            }

            &-price{
                &-total{
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }

        &-sum{
            display: flex;
            justify-content: space-between;

            margin-top: 15px;
            font-size: 24px;
            font-weight: 700;
            color: $color-green-1;
            &-price{
                font-size: 32px;
            }
        }
    }
}
