@import '../../styles/scss/index';

.quantity {
    display: flex;
    align-items: center;
    width: 122px;
    height: 35px;
    border-radius: 5px;
    background-color: $color-gray-3;
    @media only screen and (max-width: 768px){
        width: 70px;
    }

    &-button {
        box-sizing: border-box;
        width: 30px;
        height: 35px;
        background-color: $color-gray-3;
        border: none;
        border-radius: 5px;
    }
}

.quantity div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 31px;
    background-color: $color-white;
    border-radius: 5px;
}
