@import '../../../../styles/scss/index';

.user{
    &-orders{
        &-header{
            @include grid-center;
            grid-template-columns: repeat(5, 158px);
            grid-template-rows:65px;

            background-color: $color-gray-5 ;
            color: $color-green-1;
        }
        &-main{

            &-item{
                @include grid-center;
                grid-template-columns: repeat(5, 158px);
                grid-template-rows:repeat(auto-fill, 65px);
                box-sizing: border-box;

                border-bottom: 1px solid $color-gray-3;
            }
        }
    }
}
