.auth-content{
    display: flex;
}
.fa-user{
  font-size: 30px;

}
.container-Profile-login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.showNameUser{
  font-family: Open, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #57646E;
  text-decoration: none;
}