.loader {
    margin-top: 50px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    position: absolute;
    margin-left: 15px;
}
.loader .cogs {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.loader .cogs .cog {
    -webkit-animation: rotate1 2s infinite;
    -moz-animation: rotate1 2s infinite;
    -o-animation: rotate1 2s infinite;
    -ms-animation: rotate1 2s infinite;
    animation: rotate1 2s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #007042;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 125px;
}
.loader .cogs .cog.cog0 {
    -webkit-animation: rotate2 2s infinite;
    -moz-animation: rotate2 2s infinite;
    -o-animation: rotate2 2s infinite;
    -ms-animation: rotate2 2s infinite;
    animation: rotate2 2s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform: rotate(22.5deg);
    -moz-transform: rotate(22.5deg);
    -o-transform: rotate(22.5deg);
    -ms-transform: rotate(22.5deg);
    transform: rotate(22.5deg);
    top: -41px;
    left: 206px;
}
.loader .cogs .cog.cog1 {
    -webkit-animation: rotate2 2s infinite;
    -moz-animation: rotate2 2s infinite;
    -o-animation: rotate2 2s infinite;
    -ms-animation: rotate2 2s infinite;
    animation: rotate2 2s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform: rotate(22.5deg);
    -moz-transform: rotate(22.5deg);
    -o-transform: rotate(22.5deg);
    -ms-transform: rotate(22.5deg);
    transform: rotate(22.5deg);
    top: -41px;
    left: 44px;
}
.loader .cogs .cog:after {
    content: '';
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
}
.loader .cogs .cog .bar {
    position: absolute;
    top: -15%;
    bottom: -15%;
    left: 39%;
    right: 39%;
    background: #007042;
}
.loader .cogs .cog .bar:nth-of-type(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.loader .cogs .cog .bar:nth-of-type(3) {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.loader .cogs .cog .bar:nth-of-type(4) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@-moz-keyframes loader {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    30% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    40% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    70% {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    30% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    40% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    70% {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-o-keyframes loader {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    30% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    40% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    70% {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@keyframes loader {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    30% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    40% {
        -webkit-transform: scale(0.9, 0.9);
        -moz-transform: scale(0.9, 0.9);
        -o-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
    70% {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
}
@-moz-keyframes rotate1 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@-webkit-keyframes rotate1 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@-o-keyframes rotate1 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes rotate1 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@-moz-keyframes rotate2 {
    0% {
        -webkit-transform: rotate(202.5deg);
        -moz-transform: rotate(202.5deg);
        -o-transform: rotate(202.5deg);
        -ms-transform: rotate(202.5deg);
        transform: rotate(202.5deg);
    }
    100% {
        -webkit-transform: rotate(22.5deg);
        -moz-transform: rotate(22.5deg);
        -o-transform: rotate(22.5deg);
        -ms-transform: rotate(22.5deg);
        transform: rotate(22.5deg);
    }
}
@-webkit-keyframes rotate2 {
    0% {
        -webkit-transform: rotate(202.5deg);
        -moz-transform: rotate(202.5deg);
        -o-transform: rotate(202.5deg);
        -ms-transform: rotate(202.5deg);
        transform: rotate(202.5deg);
    }
    100% {
        -webkit-transform: rotate(22.5deg);
        -moz-transform: rotate(22.5deg);
        -o-transform: rotate(22.5deg);
        -ms-transform: rotate(22.5deg);
        transform: rotate(22.5deg);
    }
}
@-o-keyframes rotate2 {
    0% {
        -webkit-transform: rotate(202.5deg);
        -moz-transform: rotate(202.5deg);
        -o-transform: rotate(202.5deg);
        -ms-transform: rotate(202.5deg);
        transform: rotate(202.5deg);
    }
    100% {
        -webkit-transform: rotate(22.5deg);
        -moz-transform: rotate(22.5deg);
        -o-transform: rotate(22.5deg);
        -ms-transform: rotate(22.5deg);
        transform: rotate(22.5deg);
    }
}
@keyframes rotate2 {
    0% {
        -webkit-transform: rotate(202.5deg);
        -moz-transform: rotate(202.5deg);
        -o-transform: rotate(202.5deg);
        -ms-transform: rotate(202.5deg);
        transform: rotate(202.5deg);
    }
    100% {
        -webkit-transform: rotate(22.5deg);
        -moz-transform: rotate(22.5deg);
        -o-transform: rotate(22.5deg);
        -ms-transform: rotate(22.5deg);
        transform: rotate(22.5deg);
    }
}

.containerNoPage{
  position: relative;
}
.gears{
  position: absolute;
  top: 50%;
  left: 28%;
}
@media only screen and (min-width : 768px) and (max-width: 1200px){
    .gears{
      position: absolute;
      //top: 50%;
      //left: 28%;
    }
}
@media only screen and (min-width : 320px) and (max-width: 480px){

  .gears{
    top: 50%;
    left: 25%;
  }
}
//@media only screen and (min-width : 375px) and (max-width: 424px){
//    .gears{
//        margin-left: 72px;
//    }
//}
//@media only screen and (min-width : 425px) and (max-width: 767px){
//    .gears{
//        margin-left: 92px;
//    }
//}
//@media only screen and (min-width : 768px) and (max-width: 1023px){
//    .gears{
//        margin-left: 235px;
//    }
//}
//@media only screen and (min-width : 1024px) and (max-width: 1439px){
//    .gears{
//        margin-left: 150px;
//    }
//}
//@media only screen and (min-width : 1440px) {
//    .gears{
//        margin-left: 29%;
//    }
//}
