@import '../../../../styles/scss/basic-style';

.container {
    margin: 50px 0 50px 0
    //@include wrapper
}

.popularProducts-container {
    width: 1200px;
    margin: 0 auto;

    & .popularProducts-container_item {
        display: flex;
        justify-content: space-between;
    }
}
@media only screen and (max-width:1200px){
    .popularProducts-container{
        width: 840px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 841px) {
    .popularProducts-container{
        width: 768px;
        &-title{
            display: flex;
            justify-content: center;
        }
    }
}
@media only screen and(min-device-width: 480px) and (max-width:767px){
    .popularProducts-container{
        width: 480px;
        &-title{
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
    .popularProducts-container {
        width: 320px;
        &-title{
            display: flex;
            justify-content: center;
        }
    }
    .title-popular-product {
        margin-left: 50px;
    }
}
