.containerUserProfile {
  //display: grid;
  //grid-template-columns: 200px 1000px;
  max-width: 1200px;
  margin: 0 auto;
}

.title{
  font-weight: bold;
  font-size: 30px;

  margin: 0 0 42px 0;

    @media screen and (max-width: 480px){
        width: 300px;
        font-size: 18px;
        margin: 0 auto ;
    }
}

.user {
  display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}
