@import '../../../../styles/scss/basic-style';

.popularCategory-container{
  position: relative;
  width: 580px;
  height: 400px;
  margin: 10px;
  & .popularCategory-container_block{
    position: absolute;
    top: 50%;
    left: 5%;
  }
  & .popularCategory-container_item{@include title-text;
    color: #FFFFFF;

  }
  & .popularCategory-container_description{@include description-text; color: #FFFFFF}
  & .popularCategory-container_button{@include button;
    background-color: #FFFFFF;
    color: #007042;
    position: absolute;
    transition: all 0.5s ease 0s;
    &:hover{
      background-color: #007042;
      color: #FFFFFF;
      transition: all 0.5s ease 0s;
    }
  }
}
.categoryCardImage{
  width: 570px;
  height: 395px;
  transition: all 0.5s ease 0s;
  &:hover{
    overflow: hidden;
    transform: scale(1.1, 1.1) rotate(0deg);
    opacity: 0.5;

  }

}
@media only screen and (min-device-width : 768px) and (max-device-width : 840px) {
  .categoryCardImage{
    width: 378px;
    height: 308px;
  }
  .popularCategory-container{
    width: 364px;
    height: 305px;
    & .popularCategory-container_item{@include title-text;
      color: #FFFFFF;
      font-size: 20px;
    }
  }

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .popularCategory-container{
    width: 300px;
    height: 200px;
    & .popularCategory-container_item{@include title-text;
      color: #ffffff;
      font-size: 15px;
    }
    & .popularCategory-container_block{
      position: absolute;
      top: 14%;
      left: 5%;
    }
    & .popularCategory-container_description{@include description-text;
      font-size: 15px;
      color: #ffffff;
    }
  }
  .categoryCardImage{
    width: 300px;
    height: 200px;
  }

}
