body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
/*.carousel-root{*/
/*    position: relative;*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    box-sizing: border-box;*/
/*}*/

/*.carousel .thumbs{*/
/*    display: none;*/
/*}*/
/*.carousel .carousel-status {*/
/*    display: none;*/
/*}*/
/*!*.carousel.carousel-slider{*!*/
/*!*    position: absolute;*!*/
/*!*    top: 100%;*!*/
/*!*    right: 97%;*!*/
/*!*    width: 35.42px;*!*/
/*!*    height: 50.36px;*!*/
/*!*    color: white;*!*/
/*!*    background: #BEBABA;*!*/
/*!*    mix-blend-mode: normal;*!*/
/*!*    opacity: 0.4;*!*/
/*!*    border-radius: 0px 7px 7px 0px;*!*/
/*!*    border: none;*!*/
/*!*    outline: none;*!*/
/*!*    font-size: 25px;*!*/

/*!*}*!*/
/*.carousel.carousel-slider .control-arrow {*/
/*    !*position: absolute;*!*/
/*    margin-top: 60px;*/

/*    !*top: 50%;*!*/
/*    !*right: 97%;*!*/
/*    width: 36px;*/
/*    height: 51px;*/
/*    !*color: white;*!*/
/*    !*background: #BEBABA;*!*/
/*    !*mix-blend-mode: normal;*!*/
/*    !*opacity: 0.4;*!*/
/*    border-radius: 0px 7px 7px 0px;*/
/*    !*border: none;*!*/
/*    !*outline: none;*!*/
/*    !*font-size: 25px;*!*/
/*}*/
