@mixin grid-form{
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    grid-template-rows: repeat(6, 45px);
    margin-bottom: 48px;
}

@mixin grid-center{
    display: grid;
    justify-items: center;
    align-items: center;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin label-form{
    font-size: 20px;
    font-weight: bold;
}


@mixin btn-transition{
    transition: all 0.5s ease 0s;
    &:hover{
        transition: all 0.5s ease 0s;
    }
}
