@import '../../../../styles/scss/index';
.user{
    &-change {
        width: 100%;
        padding: 0 0 100px 0;

        &-label {
            @include label-form;
            color: $color-black;
        }

        &-form {
            @include grid-form;

            &-name {
                padding: 25px 0 0 0;
            }

            &-field {
                margin-right: 54px;
            }
        }

        &-button{
            width: 237px;
            height: 54px;

            box-sizing: border-box;
            border-radius: 3px;

            font-size: 17px;

            text-transform: uppercase;

            //background-color: $color-green-btn;
            color: $color-white;

            align-self: flex-end;
        }
    }
}
